<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />
	<logger name="org.springframework.web" level="ERROR" />
	<logger name="guoren.xintianyou.web" level="DEBUG" />
	<logger name="jdbc.sqltiming" level="INFO" />
	<logger name="jdbc.audit" level="OFF" />
	<logger name="jdbc.connection" level="OFF" />
	<logger name="jdbc.sqlonly" level="OFF" />
</configuration>