.prompt{
	font-size: 18px;
	color: #608BCE;
	margin-top: 30px;
}
.border{
	border-radius: 0;
    background-color: #fff;
    border: 1px solid #666;
    width:1200px;
    height:650px;
    margin-left: auto; 
    margin-right: auto;
}
.field2{
	width: 350px;
    height: 44px;
    line-height:20px;
    color: #939292;	
    border: 1px solid #dcdcdc;
    margin-bottom: 5px;
    margin-top: 5px;
    padding:2px;
    padding-left: 10px;
}
.loginlog{
	color: red;
}