/* .Wdate{
	border:#999 1px solid;
	height:20px;
	background:#fff url(datePicker.gif) no-repeat right;
} */
/* 修改日期框样式 */
.Wdate{
	width:140px;
	height:32px;
	border-radius:0px;
	border:1px solid #ccc;
	padding:2px;
	background:#fff url(datePicker.gif) no-repeat right;
}
.WdateFmtErr{
	font-weight:bold;
	color:red;
}